<!DOCTYPE html>
<html>
    <head>
        <base href="{{root_uri}}"><!--[if lte IE 6]></base><![endif]-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="public/assets/css/bootstrap.css">
        <link href="public/assets/css/main.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/bootstrap-tagsinput.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header" style="width:10%;">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{root_path}}" class="navbar-brand"><img height="20" alt="Brand" src="public/assets/img/logo.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right" >
                        <li style="padding-top:10px;">
                            <img src="public/image/profile/{{users.image}}" width="30" height="30">
                        </li>
                        <li class="active">
                            <a href="/account">Akun</a>
                        </li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                    <form class="navbar-form" method="post" action="search">
                        <div class="form-group" style="display: inline-table;width:70%;">
                            <div class="input-group" style="width:100%;">
                                <input type="text" class="form-control no-radius" placeholder="Pencarian Kartu Nama">
                                <span class="input-group-addon top-bars btn-default" style="padding:0;">
                                    <input type="submit" class="btn btn-xs btn-link" id="inputEmail3" value="Cari" style="width:100%;margin:0; color:#000;">
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="section avoid-navbar">
            <div class="container">
                <div class="row box">
                    <form method="post" action="/admin/add/product" enctype="multipart/form-data">
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <!--[if (gte IE 9)|!(IE)]><!-->
                        <div data-spy="affix" data-offset-top="60" style="width:450px;margin-top:10px;">
                            <!--<![endif]-->
                            <!--[if lt IE 9]>
                            <div class="col-md-5" style="height: 500px; width:450px; position: fixed; top: 12%; border: 1px solid gray;">
                            <![endif]-->
                            <div style="width:100%;">
                                <legend>Produk</legend>
                                <div id="viewer" style="width:100%; height:300px; border:10px dashed #777" class="text-center">
                                    <h1 style="margin-top:120px; color:#777;">Tempat Foto Produk</h1>
                                </div>
                                <div class="form-horizontal" style="padding-top:10px;" data-toggle="tooltip" data-placement="bottom" title="Pilih file foto produk dengan format .jpg / .png / .bmp">
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <label for="inputEmail3" class="control-label">File Foto Produk</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="file" name="product_image" onchange="loadname(this,'viewer');">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12" style="padding-top:10px;">
                        <!--[if lt IE 9]>
                        <div class="alert alert-dismissible alert-warning" style="color:black;">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4>Browser Anda Tidak Disupport !!</h4>
                        <p>Browser anda terlalu
                        <strong>Tua</strong>dan tidak mendukung secara maksimal fitur dari
                        <strong>HTML5</strong>, silahkan menggunakan browser terbaru atau gunakan browser
                        <strong>Google Chrome, Mozila Firefox, Opera atau Safari</strong>demi kemyamanan
                        anda menggunakan aplikasi ini.</p>
                        <p>Beberapa fitur tidak dapat ditampilkan secara maksimal jika anda tetap
                        menggunakan browser ini</p>
                        </div>
                        <![endif]-->
                        <div class="form-horizontal">
                            <fieldset>
                                <legend>Informasi Produk</legend>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inputEmail3" class="control-label">Nama Produk</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control no-radius lightblack-border" name="product_name" placeholder="Sepatu Black Dragon" tabindex="1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inputPassword3" class="control-label">Kode Produk</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" id="occupation" class="form-control no-radius lightblack-border" name="product_code" placeholder="BLK0DRG6" tabindex="2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inputPassword3" class="control-label">Merek Produk</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" id="occupation" class="form-control no-radius lightblack-border" name="product_brand" placeholder="BLK0DRG6" tabindex="3">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inputPassword3" class="control-label">Bahan Produk</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control no-radius lightblack-border" name="product_material" placeholder="Karet Sintetis" tabindex="4">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inputPassword3" class="control-label">Warna Produk</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control no-radius lightblack-border" name="product_color" placeholder="Black" tabindex="5">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inputPassword3" class="control-label">Ukuran Produk</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control no-radius lightblack-border" name="product_size" placeholder="34-36" tabindex="6">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inputPassword3" class="control-label">Harga Produk</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control no-radius lightblack-border" name="product_price" placeholder="30000" tabindex="7">
                                    </div>
                                </div>
                                <legend>Kategori Produk</legend>
                                <div class="form-group"   data-toggle="tooltip" data-placement="top" title="Untuk Menambahkan banyak kategori silahkan pisahkan setiap kategori dengan koma (,)">
                                    <div class="col-sm-3">
                                        <label for="inputPassword3" class="control-label">Kategori</label>
                                    </div>
                                    <div class="col-sm-8">
                                        {{# category}}
                                        <div class="radio">
                                            <label>
                                                <input type="radio" class="check-category" name="product_category_parent" value="{{category_id}}">
                                                {{category_name}}
                                                {{# category_child}}
                                                <div class="radio radio-childern" style="display:none;">
                                                    <label>
                                                        <input type="radio" name="product_category_children" value="{{category_id}}">
                                                        {{category_name}}
                                                    </label>
                                                </div>
                                                {{/ category_child}}
                                            </label>
                                        </div>
                                        {{/ category}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <input type="hidden" name="user_id" value="{{users.user_id}}">
                                        <button type="submit" class="btn btn-primary">Simpan</button>
                                        <a href="/admin/produk" class="btn btn-default">Batal</a>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <!--[if lt IE 9]>
        <script type="text/javascript" src="public/assets/js/html5shiv.js"></script>
        <script src="public/assets/js/respond.js"></script>
        <![endif]-->
        <script type="text/javascript" src="public/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="public/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="public/assets/js/mustache.min.js"></script>
        <script type="text/javascript" src="public/assets/js/typeahead.bundle.js"></script>
        <script type="text/javascript" src="public/assets/js/bootstrap-tagsinput.min.js"></script>
        <script type="text/javascript" src="public/assets/js/bootstrap3-typeahead.min.js"></script>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
//                $("input[name=card_company]").typeahead({ source:{{{hint.company}}}});
//                $("input[name=card_city]").typeahead({ source:{{{hint.city}}} });
//                $("input[name=card_country]").typeahead({ source:{{{hint.country}}}});
            })
            $(document).ready(function(){
                $(".check-category:radio").change(function() {
                    if($(this).is(':checked')){
                        $(".check-category:radio").nextAll().css("display", "none");
                        $(".check-category:radio").nextAll().find('input[type="radio"]').removeAttr('checked');
                        $(this).nextAll().css("display", "block");
                    }
                });
            });

        </script>
        <script>
            function loadname(img, previewName){

                var isIE = (navigator.appName=="Microsoft Internet Explorer");
                var path = img.value;
                var ext = path.substring(path.lastIndexOf('.') + 1).toLowerCase();
                    if(isIE) {
                        $('#'+ previewName).replaceWith('<img width="100%" src="'+path+'">');
                    }else{
                        if (img.files[0]){
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                $('#'+ previewName).replaceWith('<img width="100%" src="'+e.target.result+'">');
                            }
                            reader.readAsDataURL(img.files[0]);
                        }
                    }
            }
        </script>
        <script>
            var substringMatcher = function(strs) {
              return function findMatches(q, cb) {
                var matches, substringRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function(i, str) {
                  if (substrRegex.test(str)) {
                    matches.push(str);
                  }
                });

                cb(matches);
              };
            };
            $(document).ready(function(){
            })
        </script>
    </body>
</html>
