<!DOCTYPE html>
<html>
    <head>
        <base href="{{root_uri}}"><!--[if lte IE 6]></base><![endif]-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Product Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="public/assets/css/bootstrap.css">
        <link href="public/assets/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/bootstrap-gtreetable.min.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/datatables.min.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header" style="width:10%;">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="{{root_path}}" class="navbar-brand"><img height="20" alt="Brand" src="public/assets/img/logo.png"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li style="padding-top:10px;">
                                <img src="public/image/profile/{{users.image}}" width="30" height="30">
                            </li>
                            <li class="active">
                                <a href="account">Akun</a>
                            </li>
                            <li>
                                <a href="logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section first">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2" style="">
                            <div class="section thick"  data-spy="affix" data-offset-top="50">
                                <div class="box box-sidebar hidden-sm hidden-xs row" >
                                    <div class="col-xs-12  text-center" style="background-color: #f7f7f7; padding-top:20px;">
                                        <img src="public/image/profile/no-photo.png" style="max-width:50%;width:50%;height:auto;">
                                        <h3>{{users.fullname}}</h3>
                                        <h5><strong>{{users.permission}}</strong></h5>
                                    </div>
                                    <hr>
                                    <div class="col-sm-12" style="padding: 5px">
                                        <div class="list-group">
                                            <a href="{{root_path}}admin/home" class="list-group-item">
                                                Dashboard
                                            </a>
                                            <a href="{{url_path}}" class="list-group-item ">
                                                Product
                                            </a>
                                            <a href="admin" class="list-group-item active">
                                                Artikel
                                            </a>
                                            <a href="carousel" class="list-group-item ">
                                                Banner
                                            </a>
                                            <a href="userlist" class="list-group-item ">
                                                <span class="badge">{{counter.users}}</span>
                                                Pengguna
                                            </a>
                                            <a href="contact" class="list-group-item ">
                                                <span class="badge">{{counter.contact}}</span>
                                                Pesan
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="section thick  hidden-sm hidden-xs">
                                <div class="section" style="margin-top:20px;">
                                    <form method="post" action="/admin/add/article" enctype="multipart/form-data">
                                        <div class="row">
                                            <legend>Artikel Baru</legend>
                                            <div class="form-horizontal">
                                                <fieldset>
                                                    <div class="form-group">
                                                        <div class="col-sm-2">
                                                            <label for="inputEmail3" class="control-label">Judul Artikel</label>
                                                        </div>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control no-radius lightblack-border" name="article_title" placeholder="Tuliskan Judul artikel disini" tabindex="1" required>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div id="viewer" style="width:100%; height:100px; border:10px dashed #777" class="text-center">
                                                <h1 style="margin-top:20px; color:#777;">Tempat Foto Header Artikel</h1>
                                            </div>
                                            <div class="form-horizontal" style="padding-top:10px;" data-toggle="tooltip" data-placement="bottom" title="Pilih file foto produk dengan format .jpg / .png / .bmp">
                                                <div class="form-group">
                                                    <div class="col-sm-3">
                                                        <label for="inputEmail3" class="control-label">File Foto Header Artikel</label>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <input type="file" name="article_image" onchange="loadname(this,'viewer');">
                                                    </div>
                                                </div>
                                                <fieldset>
                                                    <legend>Isi Artikel</legend>
                                                    <textarea name="article_text" id="article_text" rows="10" cols="80">
                                                        Tulis Isi artikel disini
                                                    </textarea>
                                                </fieldset>
                                            </div><br>
                                            <div class="row col-md-12">
                                                <div class="col-md-3 box">
                                                    <div class="form-horizontal">
                                                        <fieldset>
                                                            <legend>Kategori Artikel</legend>
                                                            <div class="form-group">
                                                                <div class="col-lg-12">
                                                                    <div class="radio">
                                                                        <label>
                                                                            <input type="radio" name="article_type" id="optionsRadios1" value="promo" required>
                                                                            Promo
                                                                        </label>
                                                                    </div>
                                                                    <div class="radio">
                                                                        <label>
                                                                            <input type="radio" name="article_type" id="optionsRadios2" value="news" required>
                                                                            Berita
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-md-offset-6 box">
                                                    <div class="form-horizontal">
                                                        <fieldset>
                                                            <legend>Penerbitan Artikel</legend>
                                                            <div class="form-group">
                                                                <div class="btn-group pull-right">
                                                                    <input type="hidden" name="user_id" value="{{users.user_id}}">
                                                                    <button type="submit" class="btn btn-primary">Terbitkan</button>
                                                                    <a href="/admin/view/article" class="btn btn-danger">Batal</a>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="preview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <table class="table gtreetable" id="gtreetable"><thead><tr><th>Category</th></tr></thead></table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!--[if lt IE 9]>
<script type="text/javascript" src="public/assets/js/html5shiv.js"></script>
<script src="public/assets/js/respond.js"></script>
<![endif]-->
        <script type="text/javascript" src="public/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="public/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="public/assets/js/mustache.min.js"></script>
        <script type="text/javascript" src="public/assets/js/bootstrap3-typeahead.min.js"></script>
        <script type="text/javascript" src="public/assets/js/bootstrap-gtreetable.min.js"></script>
        <script type="text/javascript" src="public/assets/js/datatables.min.js"></script>
        <script type="text/javascript" src="ckeditor/ckeditor.js"></script>
        {{=<% %>=}}
        <%={{ }}=%>
        <script>
            $(function() {
                var $affixElement = $('div[data-spy="affix"]');
                $affixElement.width($affixElement.parent().width());

            });
            $('#preview').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var img = button.data('img');
                var modal = $(this);
                modal.find('.modal-body').html('<img src="public/data/'+img+'" width="100%">');
            });
            $('#search').on('click', function() {
                window.location="admin/view/products/"+$('#product_search').val();
            });
            function loadname(img, previewName){

                var isIE = (navigator.appName=="Microsoft Internet Explorer");
                var path = img.value;
                var ext = path.substring(path.lastIndexOf('.') + 1).toLowerCase();
                if(isIE) {
                    $('#'+ previewName).replaceWith('<img width="100%" src="'+path+'">');
                }else{
                    if (img.files[0]){
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#'+ previewName).replaceWith('<img width="100%" src="'+e.target.result+'">');
                        }
                        reader.readAsDataURL(img.files[0]);
                    }
                }
            }
        </script>
        <script>
            $(document).ready(function(){
                CKEDITOR.replace( 'article_text' );
            });
        </script>
    </body>
</html>
