<!DOCTYPE html>
<html>

<head>
    <base href="{{root_uri}}">
    <!--[if lte IE 6]></base><![endif]-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/assets/css/bootstrap.css">
    <link href="public/assets/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
    <link href="public/assets/css/bootstrap-gtreetable.min.css" rel="stylesheet" type="text/css">
    <link href="public/assets/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header" style="width:10%;">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{root_path}}" class="navbar-brand"><img height="20" alt="Brand" src="public/assets/img/logo.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li style="padding-top:10px;">
                            <img src="public/image/profile/{{users.image}}" width="30" height="30">
                        </li>
                        <li class="active">
                            <a href="account">Akun</a>
                        </li>
                        <li>
                            <a href="logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section first">
            <div class="container">
                <div class="row">
                    <div class="col-md-2" style="">
                        <!--[if (gte IE 9)|!(IE)]><!-->
                        <div class="section thick" data-spy="affix" data-offset-top="50">
                            <!--<![endif]-->
                            <!--[if lt IE 9]>
                        <div class="section thick">
                        <![endif]-->
                            <div class="box box-sidebar hidden-sm hidden-xs row">
                                <div class="col-xs-12  text-center" style="background-color: #f7f7f7; padding-top:20px;">
                                    <img src="public/image/profile/no-photo.png" style="max-width:50%;width:50%;height:auto;">
                                    <h3>{{users.fullname}}</h3>
                                    <h5><strong>{{users.permission}}</strong></h5>
                                </div>
                                <hr>
                                <div class="col-sm-12" style="padding: 5px">
                                    <div class="list-group">
                                        <a href="{{root_path}}admin/home" class="list-group-item">
                                            Dashboard
                                        </a>
                                        <a href="{{url_path}}" class="list-group-item active">
                                            Product
                                        </a>
                                        <a href="{{root_path}}admin/view/article" class="list-group-item ">
                                            Artikel
                                        </a>
                                        <a href="{{root_path}}admin/view/banner" class="list-group-item ">
                                            Banner
                                        </a>
                                        <a href="{{root_path}}admin/view/user" class="list-group-item ">
                                            <span class="badge">{{counter.users}}</span> Pengguna
                                        </a>
                                        <a href="contact" class="list-group-item ">
                                            <span class="badge">{{counter.contact}}</span> Pesan
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="section thick  hidden-sm hidden-xs">
                            <div class="row box box-search">
                                <div class="col-md-12 hidden-sm hidden-xs no-padding-left no-padding-right no-padding-bottom">
                                    <div class="form-group col-md-11  no-padding-bottom no-margin-bottom">
                                        <div class="col-md-12 no-padding-left no-padding-right">
                                            <div class="input-group no-radius">
                                                <span class="input-group-addon no-radius"><i class="mdi mdi-magnify"></i></span>
                                                <input type="text" id="product_search" name="product_search" class="form-control no-radius" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 no-padding-left">
                                        <input type="button" class="form-control no-radius btn btn-primary" id="search" value="Cari">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section thick">
                            <div class="row">
                                <div style="float:left; padding-right:10px;">
                                    <div class="btn-group btn-group-sm btn-short-by">
                                        <a class="btn btn-primary" href="/admin/add/product"> Tambah Produk</a>
                                    </div>
                                </div>
                                <div style="width:100%;" class="">
                                    <ul class="breadcrumb no-margin-bottom">
                                        {{# parameter.search}}
                                        <li><a href="#">Pencarian</a></li>
                                        {{/ parameter.search}} {{^ parameter.search}}
                                        <li>
                                            <a href="{{url_path}}">Semua Produk</a>
                                        </li>
                                        {{/ parameter.search}} {{# parameter.kategory}}
                                        <li class="active hidden-sm hidden-xs text-black">{{parameter.kategory}}</li>{{/ parameter.kategory}} {{# parameter.merek}}
                                        <li class="active hidden-sm hidden-xs text-black">{{parameter.merek}}</li>{{/ parameter.merek}} {{# parameter.kode}}
                                        <li class="active hidden-sm hidden-xs text-black">{{parameter.kode}}</li>{{/ parameter.kode}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="section" style="margin-top:20px;">
                            <div class="row ">
                                <div class="col-md-10 box box-cards">
                                    {{# product_found}}
                                    <div class="col-md-12 text-center">
                                        <h2>Produk Tidak tersedia</h2>
                                    </div>
                                    {{/ product_found}}
                                    <ul class="media-list">
                                        {{# product}}
                                        <li class="media media-cards">
                                            <a class="pull-left" style="display: block; cursor: pointer;" data-img="{{product_image}}" data-type="image" data-toggle="modal" data-target="#preview">
                                                <img src="public/data/product/{{product_image}}" width="100">
                                            </a>
                                            <div class="media-body row">
                                                <div class="col-md-6" style="height:110px;">
                                                    <h4 class="media-heading"><b>{{product_name}}</b></h4>
                                                    <h5 class="media-heading">{{product_code}}</h5>
                                                    <h5 class="media-heading"><b>{{product_brand}}</b></h5>
                                                    <h5 style="position: absolute;bottom: 0;word-wrap: break-word;"><b>Rp. {{product_price}},-</b></h5>
                                                </div>
                                                <div class="col-md-4 text-right" style="height:130px;">
                                                    <h5 class="media-heading">{{product_material}} <i class="mdi mdi-format-list-bulleted-type"></i></h5>
                                                    <h5 class="media-heading">{{product_color}} <i class="mdi mdi-invert-colors"></i></h5>
                                                    <h5 class="media-heading">{{product_size}} <i class="mdi mdi-move-resize-variant"></i></h5>
                                                    <h5 class="media-heading">{{product_category}} <i class="mdi mdi-marker-check text-success"></i></h5>
                                                    <h5 class="media-heading">{{product_view}} <i class="mdi mdi-star" {{#product_ispopular}} style="color:gold;" {{/product_ispopular}}></i></h5>
                                                </div>
                                                <div class="col-md-2 text-right no-padding-right no-margin-right" style="height:130px;">
                                                    <div class="[ form-group ]">
                                                        <div class="[ btn-group btn-group-xs ]">
                                                            <a href="admin/edit/product/{{product_id}}" class="btn btn-primary btn-xs no-margin-right" style="float:right; width:60px;">Edit</a>
                                                            <a href="#" class="btn btn-danger btn-xs no-margin-right" style="float:right; width:60px;"  data-toggle="modal" data-target="#delete" style="cursor: pointer;" data-name="{{product_name}}" data-code="{{product_code}}" data-brand="{{product_brand}}" data-image="{{product_image}}" data-id="{{product_id}}">Hapus</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        {{/ product}}
                                    </ul>
                                </div>
                                <div class="col-md-2" style="">
                                    <!--[if (gte IE 9)|!(IE)]><!-->
                                    <div class="section">
                                        <!--<![endif]-->
                                        <!--[if lt IE 9]>
                                        <div class="section thick">
                                        <![endif]-->
                                        <div class="box hidden-sm hidden-xs row">
                                            <div class="col-sm-12" style="padding: 5px">
                                                <center><b>Kategori</b></center>
                                                <div class="list-group">
                                                    {{# category}}
                                                    <a class="list-group-item" role="button" data-toggle="collapse" href="#for{{category_name}}" aria-expanded="false" aria-controls="for{{category_name}}">
                                                        <span class="badge"><i class=" mdi mdi-plus"></i></span> {{category_name}}
                                                    </a>
                                                    <div class="list-group collapse" id="for{{category_name}}">
                                                        {{# category_child}}
                                                        <a href="{{url_path}}{{category_id}}" class="list-group-item " style="background:#f5f5f5">
                                                            {{category_name}}
                                                        </a>
                                                        {{/ category_child}}
                                                    </div>
                                                    {{/ category}}
                                                </div>
                                            </div>
<!--                                            <a class="btn btn-primary col-md-12" data-toggle="modal" data-target="#category">Edit Kategori</a>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="preview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Manajemen Kategori</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table gtreetable" id="gtreetable"><thead><tr><th>Category</th></tr></thead></table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Apakah anda yakin untuk menghapus produk ini?</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>
        <!--[if lt IE 9]>
        <script type="text/javascript" src="public/assets/js/html5shiv.js"></script>
        <script src="public/assets/js/respond.js"></script>
        <![endif]-->
        <script type="text/javascript" src="public/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="public/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="public/assets/js/mustache.min.js"></script>
        <script type="text/javascript" src="public/assets/js/bootstrap3-typeahead.min.js"></script>
        <script type="text/javascript" src="public/assets/js/bootstrap-gtreetable.min.js"></script>
        {{=<% %>=}}
        <script id="delete-template" type="x-tmpl-mustache">
            <ul class="media-list">
                <li class="media media-cards">
                        <img class="pull-left" src="public/data/product/{{product_image}}" width="100">
                    <div class="media-body row">
                        <div class="col-md-6" style="height:110px;">
                            <h4 class="media-heading"><b>{{product_name}}</b></h4>
                            <h5 class="media-heading">{{product_code}}</h5>
                            <h5 class="media-heading"><b>{{product_brand}}</b></h5>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="modal-footer">
                <a href="/admin/delete/product/{{product_id}}" type="button" class="btn btn-danger">Delete</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </script>
        <%={{ }}=%>
                <script>
                    $(function () {
                        var $affixElement = $('div[data-spy="affix"]');
                        $affixElement.width($affixElement.parent().width());

                    });
                    $('#preview').on('show.bs.modal', function (event) {
                        var button = $(event.relatedTarget);
                        var img = button.data('img');
                        var modal = $(this);
                        modal.find('.modal-body').html('<img src="public/data/' + img + '" width="100%">');
                    });
                    $('#delete').on('show.bs.modal', function (event) {
                        var button = $(event.relatedTarget);
                        var modal = $(this);
                        var template = $('#delete-template').html();
                        Mustache.parse(template);   // optional, speeds up future uses
                        var rendered = Mustache.render(template, {
                            product_name:button.data('name'),
                            product_code:button.data('code'),
                            product_brand:button.data('brand'),
                            product_image:button.data('image'),
                            product_id:button.data('id')
                        });
                        modal.find('.modal-body').html(rendered);

                    });
                    $('#search').on('click', function () {
                        window.location = "admin/view/products/" + $('#product_search').val();
                    });
                </script>
                <script>
                    $(document).ready(function () {

                    });
                </script>
</body>

</html>
