<!DOCTYPE html>
<html>
    <head>
        <base href="{{root_uri}}"><!--[if lte IE 6]></base><![endif]-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Product Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="public/assets/css/bootstrap.css">
        <link href="public/assets/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/bootstrap-gtreetable.min.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/datatables.min.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header" style="width:10%;">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{root_path}}" class="navbar-brand"><img height="20" alt="Brand" src="public/assets/img/logo.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li style="padding-top:10px;">
                            <img src="public/image/profile/{{users.image}}" width="30" height="30">
                        </li>
                        <li class="active">
                            <a href="account">Akun</a>
                        </li>
                        <li>
                            <a href="logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section first">
            <div class="container">
                <div class="row">
                    <div class="col-md-2" style="">
                        <!--[if (gte IE 9)|!(IE)]><!-->
                        <div class="section thick"  data-spy="affix" data-offset-top="50">
                            <!--<![endif]-->
                            <!--[if lt IE 9]>
<div class="section thick">
<![endif]-->
                            <div class="box box-sidebar hidden-sm hidden-xs row" >
                                <div class="col-xs-12  text-center" style="background-color: #f7f7f7; padding-top:20px;">
                                    <img src="public/image/profile/no-photo.png" style="max-width:50%;width:50%;height:auto;">
                                    <h3>{{users.fullname}}</h3>
                                    <h5><strong>{{users.permission}}</strong></h5>
                                </div>
                                <hr>
                                <div class="col-sm-12" style="padding: 5px">
                                    <div class="list-group">
                                        <a href="{{root_path}}admin/home" class="list-group-item">
                                            Dashboard
                                        </a>
                                        <a href="{{url_path}}" class="list-group-item ">
                                            Product
                                        </a>
                                        <a href="admin" class="list-group-item ">
                                            Artikel
                                        </a>
                                        <a href="carousel" class="list-group-item active">
                                            Banner
                                        </a>
                                        <a href="userlist" class="list-group-item ">
                                            <span class="badge">{{counter.users}}</span>
                                            Pengguna
                                        </a>
                                        <a href="contact" class="list-group-item ">
                                            <span class="badge">{{counter.contact}}</span>
                                            Pesan
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="section thick  hidden-sm hidden-xs">
                            <div class="row box box-search">
                                <div class="col-md-12 hidden-sm hidden-xs no-padding-left no-padding-right no-padding-bottom">
                                    <div class="form-group col-md-11  no-padding-bottom no-margin-bottom">
                                        <div class="col-md-12 no-padding-left no-padding-right">
                                            <div class="input-group no-radius">
                                                <span class="input-group-addon no-radius"><i class="mdi mdi-magnify"></i></span>
                                                <input type="text" id="product_search" name="product_search" class="form-control no-radius" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 no-padding-left">
                                        <input type="button" class="form-control no-radius btn btn-primary" id="search" value="Cari">
                                    </div>
                                </div>
                            </div>
                            <div class="section thick">
                                <div class="row">
                                    <div style="float:left; padding-right:10px;">
                                        <div class="btn-group btn-group-sm btn-short-by">
                                            <a class="btn btn-primary" href="/admin/add/banner"> Tambah Banner</a>
                                        </div>
                                    </div>
                                    <div style="width:100%;" class="">
                                        <ul class="breadcrumb no-margin-bottom">
                                            <li>
                                                <a href="#">Artikel</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="section" style="margin-top:20px;">
                                <div class="row ">
                                    <table class="table table-striped table-hover col-md-12 box box-cards">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox"></th>
                                                <th>Gambar</th>
                                                <th>Status</th>
                                                <th style="text-align:right;">Tindakan</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{# banner}}
                                            <tr>
                                                <td><input type="checkbox"></td>
                                                <td style="background:url(/public/data/banner/{{carousel_image}}) no-repeat center center; background-size:cover;">
                                                    <div style="width:400px; height:80px;"></div>
                                                </td>
                                                <td>{{carousel_status}}</td>
                                                <td>
                                                    <div class="btn-group" style="float:right;">
                                                        <a href="/admin/edit/banner/{{carousel_id}}" class="btn btn-primary"><i class="mdi mdi-pencil"></i></a>
                                                        <a class="btn btn-danger" data-toggle="modal" data-target="#delete" data-image="{{carousel_image}}" data-id="{{carousel_id}}" ><i class="mdi mdi-delete"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {{/ banner}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Apakah anda yakin akan menghapus banner ini ?</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>
            <!--[if lt IE 9]>
<script type="text/javascript" src="public/assets/js/html5shiv.js"></script>
<script src="public/assets/js/respond.js"></script>
<![endif]-->
            <script type="text/javascript" src="public/assets/js/jquery.min.js"></script>
            <script type="text/javascript" src="public/assets/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="public/assets/js/mustache.min.js"></script>
            <script type="text/javascript" src="public/assets/js/bootstrap3-typeahead.min.js"></script>
            <script type="text/javascript" src="public/assets/js/bootstrap-gtreetable.min.js"></script>
            <script type="text/javascript" src="public/assets/js/datatables.min.js"></script>
            {{=<% %>=}}
            <script id="delete-template" type="x-tmpl-mustache">
            <img src="/public/data/banner/{{banner_image}}" height="400"><br>
            <div class="modal-footer">
            <a href="/admin/delete/banner/{{banner_id}}" class="btn btn-danger">Hapus</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </script>
            <%={{ }}=%>
                <script>
                    $(function() {
                        var $affixElement = $('div[data-spy="affix"]');
                        $affixElement.width($affixElement.parent().width());

                    });
                    $('#delete').on('show.bs.modal', function (event) {
                        console.log("lala");
                        var button = $(event.relatedTarget);
                        var modal = $(this);
                        var template = $('#delete-template').html();
                        Mustache.parse(template);   // optional, speeds up future uses
                        var rendered = Mustache.render(template, {
                            banner_image:button.data('image'),
                            banner_id:button.data('id')
                        });
                        modal.find('.modal-body').html(rendered);

                    });
                </script>
                </body>
            </html>
