<!DOCTYPE html>
<html lang="en">

<head>
    <base href="{{root_uri}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Beranda | Stars.co.id</title>
    <link href="public/front/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/front/css/font-awesome.min.css" rel="stylesheet">
    <link href="public/front/css/prettyPhoto.css" rel="stylesheet">
    <link href="public/front/css/price-range.css" rel="stylesheet">
    <link href="public/front/css/animate.css" rel="stylesheet">
    <link href="public/front/css/main.css" rel="stylesheet">
    <link href="public/front/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
</head>

<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="404.html"><i class="fa fa-phone-square"></i> (031) 1234 123 </a></li>
                                <li><a href="contact-us.html"><i class="fa fa-envelope"></i> marketing@stars.co.id</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="index.php"><img src="public/assets/img/logo.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="shop"><i class="fa fa-shopping-cart"></i> Produk</a></li>
                                <li><a href="promo"><i class="fa fa-gift"></i> Promo</a></li>
                                <li><a href="promo"><i class="fa fa-book"></i> Berita</a></li>
                                <li><a href="galeri"><i class="fa fa-camera-retro"></i> Galeri</a></li>
                                <li><a href="kontak"><i class="fa fa-phone"></i> Kontak</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="slider">
        <!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class=""></li>
                            <li data-target="#slider-carousel" data-slide-to="1" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="2" class=""></li>
                        </ol>

                        <div class="carousel-inner">
                            {{#banner}}
                            <div class="item">
                                <div class="col-sm-12">
                                    <center><img src="public/data/banner/{{carousel_image}}" style="max-height:300px; height:300px;"></center>
                                </div>
                            </div>
                            {{/banner}}
                        </div>

                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Kategori</h2>
                        <div class="panel-group category-products" id="accordian">
                            <!--category-productsr-->
                            {{#category}}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#{{category_name}}">
                                                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                                {{category_name}}
                                            </a>
                                        </h4>
                                </div>
                                <div id="{{category_name}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            {{#category_child}}
                                            <li><a href="/product/search/">{{category_name}}</a></li>
                                            {{/category_child}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {{/category}}
                        </div>
                        <!--/category-products-->
                        <div class="price-range">
                            <!--price-range-->
                            <h2>Berita</h2>
                        </div>
                        <!--/price-range-->

                        <div class="shipping text-center">
                            <!--shipping-->
                            <img src="images/home/shipping.jpg" alt="">
                        </div>
                        <!--/shipping-->

                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="features_items">
                        <!--features_items-->
                        <h2 class="title text-center">Paling Populer</h2>
                        {{# top-product}}
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <a>
                                        <div class="productinfo text-center"><img src="public/data/product/{{product_image}}">
                                            <h2>Rp. {{product_price}},-</h2>
                                            <p>{{product_brand}}</p>
                                            <p><b>{{product_name}}</b></p>
                                        </div>
                                        <div class="product-overlay">
                                            <div class="overlay-content">
                                                <p>Kode : {{product_code}}</p>
                                                <p>Bahan : {{product_material}}</p>
                                                <p>Warna : {{product_color}}</p>
                                                <p>Ukuran : {{product_size}}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="/product/detil/{{product_id}}"><i class="fa fa-expand"></i>Detil Produk</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {{/ top-product}}
                    </div>
                    <!--features_items-->

                    <div class="category-tab shop-details-tab">
                        <!--category-tab-->
                        <div class="col-sm-12" style="margin-bottom: -3.59678%;">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#satu" data-toggle="tab">Berita</a></li>
                                <li><a href="#dua" data-toggle="tab">Promo</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="satu">
                                <div class="col-md-12 col-sm-12" style="margin-top:2%">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="">
                                            <ul>
                                                <li>
                                                    <table class="table" style="background:white">
                                                        <tbody>
                                                            {{#top-news}}
                                                            <tr>
                                                                <td>
                                                                    <div style="width:100px;height:60px;margin:1px 0;background:url(/public/data/article/{{article_image}}) no-repeat scroll center top / 100% auto rgba(0, 0, 0, 0);"></div>
                                                                </td>
                                                                <td>
                                                                    <a href="/article/detail/{{article_id}}">{{article_title}}</a><br>
                                                                    <div style="width:100%; margin-top:-1.5em; max-height:3em; height:3em; text-overflow:ellipsis; overflow: hidden;">{{{article_text}}}</div>
                                                                </td>
                                                            </tr>
                                                            {{/top-news}}
                                                        </tbody>
                                                    </table>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <center>
                                            <div class="col-md-12" style="background:black;height:259px">
                                                <h1 style="color:white;margin-top:80px"><span class="glyphicon glyphicon-facetime-video"></span></h1>
                                                <h1 style="color:white;">Video</h1>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="dua">
                                <div class="col-md-12 col-sm-12">
                                    <div class="col-md-6 col-sm-6">
                                    <div class="">
                                        <ul>
                                            <li>
                                                <table class="table" style="background:white">
                                                    <tbody>
                                                        {{#top-promo}}
                                                        <tr>
                                                            <td>
                                                                <div style="width:100px;height:60px;margin:1px 0;background:url('/public/data/article/{{article_image}}') no-repeat scroll center top / 100% auto rgba(0, 0, 0, 0);"></div>
                                                            </td>
                                                            <td>
                                                                <a href="/article/detail/{{article_id}}">{{article_title}}</a><br>
                                                                <div style="width:100%; margin-top:-1.5em; max-height:3em; height:3em; text-overflow:ellipsis; overflow: hidden;">{{{article_text}}}</div>
                                                            </td>
                                                        </tr>
                                                        {{/top-promo}}
                                                    </tbody>
                                                </table>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <center>
                                        <div class="col-md-12" style="background:black;height:259px">
                                            <h1 style="color:white;margin-top:80px"><span class="glyphicon glyphicon-facetime-video"></span></h1>
                                            <h1 style="color:white;">Video</h1>
                                        </div>
                                    </center>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <!--Footer-->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="companyinfo">
                            <h2><span>S</span>TARS</h2>
                            <p>Memberikan pelayanan sepenuh hati, demi kepuasan konsumen</p>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="#">
                                    <div class="iframe-img">
                                        <img src="images/home/iframe1.png" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <p>Circle of Hands</p>
                                <h2>24 DEC 2014</h2>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="#">
                                    <div class="iframe-img">
                                        <img src="images/home/iframe2.png" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <p>Circle of Hands</p>
                                <h2>24 DEC 2014</h2>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="#">
                                    <div class="iframe-img">
                                        <img src="images/home/iframe3.png" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <p>Circle of Hands</p>
                                <h2>24 DEC 2014</h2>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="#">
                                    <div class="iframe-img">
                                        <img src="images/home/iframe4.png" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <p>Circle of Hands</p>
                                <h2>24 DEC 2014</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="address">
                            <img src="images/home/map.png" alt="" />
                            <p>Jalan Sudirman Nomor 10
                                <br> Surabaya, Jawa Timur
                                <br>Indonesia</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2015 Stars Inc. All rights reserved.</p>
                    <p class="pull-right">Designed by <span><a target="_blank" href="http://www.oktorio.com">Oktorio</a></span></p>
                </div>
            </div>
        </div>

    </footer>
    <!--/Footer-->

    <script src="public/front/js/jquery.js"></script>
    <script src="public/front/js/bootstrap.min.js"></script>
    <script src="public/front/js/jquery.scrollUp.min.js"></script>
    <script src="public/front/js/price-range.js"></script>
    <script src="public/front/js/jquery.prettyPhoto.js"></script>
    <script src="public/front/js/main.js"></script>
    <script>
        $(document).ready(function (){
            $('.carousel-inner .item:first-child').addClass('active');
        });
    </script>
</body>

</html>
